





@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #252525;
  --textColor: white;
  --softBg: #f0f0f0;
  
  --softTextColor: #626262;
  --bg-image-light: url('/client/public/x.png');
  --bg-image-dark:  url('/client/public/add2.gif');
}


body {
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;  

  overflow-x: hidden;
}



.container {
  margin: 0 auto;    /* Center the content horizontally */
  max-width: 100vw;

}




a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #252525;
  --textColor: #dfecf5;
  --TextColor: #dfecf5;


  --bg-image: var(--bg-image-dark);


  --textColor2: #ffffff;
  --textColore: #0F1419;
  --textColore4: #05070a;
  --textColori: #dfecf5;

  --textColore3: #202730;

  --textColore2: #0F1419;

  --textLogo: #ffffff;

  --navBg: #0e0c0a;
  --bgs: rgb(0, 0, 0);


  --bg2: #050505;
  --bd: #303030;
  --bd3: rgb(0, 0, 0);

  --bd2:#fcfeff ;

  --transparentBg: rgba(1, 1, 2, 0.7);
  --bodyBg: rgba(240, 240, 240);


  --softBg1: rgb(85, 86, 87);
  --softBg4: rgb(32, 32, 32);

  --softBg: rgb(42, 43, 43);
  --softBgMenu: rgb(9, 9, 10);
  --softBgMenu2: rgb(20, 20, 24);

  --softBgSearch: rgb(37, 37, 43);

  --softerBg: rgb(27, 27, 27);
  --softTextColori: #dddfe2;

  --softTextColor: #babbbd;
  --softTextColor2: #8899A6;
  --softTextColor3: #202429;
  --softTextColor4: #3a4147;
  --softTextColor7: #3b4149;
  --softBg5: #a4a4a5;

  --shadow-color: rgba(94, 93, 93, 0.4); /* Darker shadow for dark mode */

  --gradient-background: linear-gradient(to top, transparent, rgb(230, 230, 255));

}

.light {
  --bg:#ffffff ;
  --textColor: #000000;
  --TextColor: #000000;
  --textColore: #dfecf5;
  --textColore4: #f3f6f8;
  --textColori: #0F1419;

  --textColore3: #d1d9df;

  --textColore2: #ffffff;
  --navBg: rgba(252, 246, 241);
  --bgs: rgb(255, 255, 255);
  --bodyBg: rgba(34, 34, 34);
  --softTextColor: #3e3e3f;
  --softTextColori: #1b1b1b;

  --softBg5: #818181;


  --textLogo: #000000;

  --bg-image: var(--bg-image-light);

  --textColor2: #000000;
  --shadow-color: rgba(0, 0, 0, 0.1); /* Default for light mode */

  --bg2:#ffffff ;
  --bd:#fcfeff ;
  --bd3:#ffffff ;

  --bd2: #303030;

  --softBg1: #c1c2c4;
  --transparentBg: rgba(252, 254, 255, 0.7);
  --softBg: #EBECEE;
  --softBg4: #e0e1e2;

  --softBgMenu: #f5f5f5;
  --softBgMenu2: #e6e0f8;

  --softBgSearch: #ebebeb;

  --softerBg: #f5f6f8;
  --softTextColor2: #657786;
  --softTextColor3: #d2e0eb;
  --softTextColor4: #dfe9f1;
  --softTextColor7: #b3c3cf;

  --gradient-background: linear-gradient(to top, transparent, rgb(88, 88, 109));

}


body {
  background-color: var(--bg);
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;  
  width: 100vw;
  overflow-x: hidden;


}

/* Apply the black background to the first 1000px of the homepage */
.homepage-bg {
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* Base gradient */
.homepage-bg::before {
  content: "";
  position: fixed;
  
  left: 0;
  width: 100%;
  height: 180px;
  pointer-events: none;
  z-index: 9999;
  opacity: 1;
  transition: opacity 4s ease; /* Smooth transition */
}

/* Smooth fade-out */
.homepage-bg.fade-out::before {
  opacity: 0;
}

/* Smooth fade-in */
.homepage-bg.fade-in::before {
  opacity: 1;
}




/* Default z-index behavior */
* {
  position: relative;
}

/* Class to make all z-indexes obsolete */
.z-index-obsolete * {
  z-index: auto !important; /* Reset z-index to default */
}

/* Optionally, style the overlay for the "obsolete" effect */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}


@media (max-width: 768px) {
  .sticki {
    position: -webkit-sticky;
    position: fixed;
    top: 80px;
    z-index: 100000;
    transform: translateZ(0);
    will-change: position, top;

  }
}


/* Add this to your global styles or inline within a <style> tag */
.gradient-border {
  border: 5px solid transparent;
  border-image: linear-gradient(to right, black, rgb(53, 53, 53), black);
  border-image-slice: 1;
}




.animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}


/* Style the scrollbar */
::-webkit-scrollbar {
  height: 6px; /* Vertical scrollbar size */
  margin-top: 100px; /* Adjust this value to move it down */

}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 3px; /* Rounded corners */
  width: 1px; /* Rounded corners */


}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}


/* Apply styles specifically to the SideMenu scrollbar */
.side-menu {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--textColore) transparent; /* For Firefox */
}

/* For WebKit-based browsers like Chrome, Edge, and Safari */
.side-menu::-webkit-scrollbar {
  width: 8px; /* Reduce the width of the scrollbar */
}

.side-menu::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the track */
}

.side-menu::-webkit-scrollbar-thumb {
  background: var(--textColore); /* Use the text color variable for the thumb */
  border-radius: 4px; /* Add rounded edges to the scrollbar thumb */
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: var(--textColore); /* Keep the same color when hovered, or adjust if needed */
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.scroll-content {
  display: flex;
  flex-wrap: nowrap;
}

.scroll-item {
  flex: 0 0 auto;
  margin-right: 20px;
  position: relative;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image {
  padding-top: 56.25%; /* Aspect ratio for responsiveness (16:9) */
}

.scroll-item:hover .scroll-btn {
  display: block; /* Show the scroll button on hover */
}

.scroll-btn {
  transition: opacity 0.3s ease;
  opacity: 0.8;
  cursor: pointer;
}

.scroll-btn:hover {
  opacity: 1; /* Brighten button on hover */
}

.desc-content h1 {
  font-size: 20px;
}

.desc-content h2 {
  font-size: 18px;
}

.desc-content h3 {
  font-size: 16px;
}

.desc-content p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .desc-content h1 {
    font-size: 22px;
  }

  .desc-content h2 {
    font-size: 20px;
  }

  .desc-content h3 {
    font-size: 18px;
  }

  .desc-content p {
    font-size: 16px;
  }
}

.property-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Increased gap for better spacing */
}

.detail-item {
  display: flex;
  flex-direction: column; /* Stack icon and text */
  align-items: center;
  gap: 5px;
  font-size: 14px;

  padding: 11px 16px; /* Increased padding */
  border: 1px solid var(--softBg4);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.detail-item:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 18px; /* Default icon size */
}

.detail-text {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .icon {
    font-size: 28px; /* Larger icons on bigger screens */
  }
  .detail-text {
    font-size: 16px; /* Adjust text size for md screens */
  }
  .property-details {
    
    gap: 20px; /* Increased gap for better spacing */
  }

  .detail-item {
    gap: 6px;
    padding: 15px 20px; /* Increased padding */
    font-size: 16px;

  }
}

@keyframes bounce {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.3); }
  100% { transform: scale(1); }
}
.animate-bounce-heart {
  animation: bounce 0.3s ease-in-out;
}




